/*Start header*/
.photo{
    height: 480px;
    background: url(../img/CUBG.png) no-repeat center;
    margin-bottom: 50px;
}

header{
    height: 133;
}

.logo{
    float: left;
    width: 226px;
    height: 113px;
}

.search input, button{
    background: transparent;
    border: none;
}


.search button{
    float: right;
}

.search{
    border-bottom: 1px solid black;
    width: 350px;
    height: 29px;
    float: right;
}

.search input {
    outline:none;
}

.search, .logo{
    justify-content: space-around; 
    display: inline-block;
}


.complex_list{
    display: flex;
}

.complex_list li a {
    text-decoration: none;
    margin: 10px;
    color: #324950;
}

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}


.title {
    padding: 230px 0 300px 0;
}





.title__text{
    font-family: 'RotondaBold' ;
    text-align: center;
    font-size: 48px;
    color: #735440;
    
}

.line{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 1165px;
    top: 20px;
    border: 1px solid #324950;
}


.menu{
    margin-left: auto;
}


.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}   






.link:hover, .link:focus, .link:active{
    opacity: 50%;
}

.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    visibility:hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}




@media screen and 
(max-width: 790px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .show {
        display:block;
        }
    .dropbtn {
        visibility:visible;
    }
}


/*End header*/



#toggler{
    visibility:hidden;
}

header{
    background: white;
    padding: 17px 0;
}



.logo{
    float: left;
    width: 226px;
    height: 113px;
}

.search input, button{
    background: transparent;
    border: none;
    display: inline-flex;
}


.search button{
    float: right;
}

.search{
    border-bottom: 1px solid black;
    width: 350px;
    height: 29px;
    float: right;
}

.search input {
    outline:none;
}

.search, .logo{
    justify-content: space-around; 
    display: inline-block;
}



.complex_list{
    display: flex;
}

.complex_list li a {
    text-decoration: none;
    margin: 10px;
    color: #324950;
}

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

.title{
    position: relative;
    width: 804px;
    height: 183px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
}

.but_read{
    width: 160px;
    height: 55px;
    padding: 16px, 31px, 16px, 31px;
    margin-top: 60px;
    color: #fff;
    background-color: #57984C;
    font-family: 'Roboto';
}

.title button:hover {
    background-color: #67b15a;
    transition: all 0.3s ease;
}

.title__text{
    font-family: 'RotondaBold' ;
    text-align: center;
    font-size: 48px;
    color: #735440;
    
}

.xxx{
    margin-bottom: 30px;
    margin-top: 40px;
}

.text_p{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #324950;
    font-size: 17px;
}



#input-box-long{
    width: 635px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
#input-box{
    width: 350px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

#input-box-large{
    width: 633.9px;
    height: 390.75px;
    background: #FFFFFF;
    order: 1px solid #DADADA;
    border-radius: 10px;
}



#input-box-short{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  #send-button{
    padding:10px;
    border-radius: 15px;
    color:white;
    background-color: #57984C;
    margin-top:15px;
    margin-bottom:15px;
    border-width: 0px;
    
  }




.bot_but{
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FFFFFF;
}

.text_bot{
    text-align: center;
    font-size: 17px;
    color: #324950;
}
.text_bot a{
    text-decoration: none;
    color: #57984c;
}
.Address{
    color: #57984c;
    margin-top: 10px;
    margin-bottom: -5px;
    font-weight: 700;
    font-size: 20px;
}

.text_bot p{
    margin-bottom: 5px;
}


.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}



.menu{
    margin-top: -50px;
    margin-left: auto;
}




@media screen and 
(max-width: 790px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
    }
     
    .logo {
        margin-bottom: 10px;
    }
    .title{
        padding: 10px;
    }

    #input-box-long{
        width: 400px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 10px;
    }
    #input-box-large{
        width: 400px;
    }

   
}

@media (max-width: 590px){
    .logo, .search{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .text_area, .data_p{
        width: 100%;
    }
    #input-box-long{
        width: 400px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 10px;
    }
    #input-box-large{
        width: 400px;
    }


}
@media (max-width: 475px){
    .logo, .search{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .text_area, .data_p{
        width: 100%;
    }
    #input-box-long{
        width: 350px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 10px;
    }
    #input-box-large{
        width: 350px;
    }


}

@media (max-width: 320px){
    .logo, .search{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .text_area, .data_p{
        width: 100%;
    }
    #input-box-long{
        width: 300px;
        height: 55px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 10px;
    }
    #input-box-large{
        width: 300px;
    }
    #input-box{
        width: 300px; 
    }


}


@media (max-width:940px){
    .body {
        text-align: center;
   }
   .send_mes{
    justify-content: center;
       margin-bottom: 20px;
   }
}
@media (max-width: 991px){
    .logo{
        display: flex;
        justify-content: center;
    }
    .search{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


#about h3 {
    font-weight: 600;
    font-size: 32px;
  }
  
  #input-label{
    margin-top: 15px;
    font-size: large;
  }

  .col-lg-4{
      margin-left: auto;
  }


/*Start footer*/
footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}

.footer_1 {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footer_2{
    background: #324950;
    color: #B9B9B9;
}

.footer_1 .row {
    margin-top: 10px;
}

.footer_item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer_item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer_link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    font-family: 'RotondaBold';
}


.footer_1 li{
        list-style-type: none;
} 


@media (max-width: 1060px){
    .footer_link {
        margin: 0 5px;
    }
}

@media (max-width: 990px){
    .footer_link{
        margin-bottom: 5px;
    }
    .footer_menu{
        margin-left: -20px;
        display: block;
        text-align: center;
    }
}


/*End footer*/