/*Start header*/
.header{
    background: url(../img/bg.png) no-repeat center;
    height: 850px;
}

header{
    height: 133;
}

.logo{
    float: left;
    width: 226px;
    height: 113px;
}

.search input, button{
    background: transparent;
    border: none;
}


.search button{
    float: right;
}

.search{
    border-bottom: 1px solid black;
    width: 350px;
    height: 29px;
    float: right;
}

.search input {
    outline:none;
}

.search, .logo{
    justify-content: space-around; 
    display: inline-block;
}


.complex_list{
    display: flex;
}

.complex_list li a {
    text-decoration: none;
    margin: 10px;
    color: #324950;
}

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}



.title {
    padding: 150px 0 300px 0;
}

.but_read{
    width: 160px;
    height: 55px;
    margin-top: 60px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #57984C;
    font-family: 'Roboto';
}

.but_read{

padding: 20px, 30px;
}

.title button:hover {
    background-color: #67b15a;
    transition: all 0.3s ease;
}

.title__text{
    font-family: 'RotondaBold' ;
    text-align: center;
    font-size: 48px;
    color: #735440;
    margin-top: -110px;
    
}

.line{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 1165px;
    top: 20px;
    border: 1px solid #324950;
}


.menu{
    margin-left: auto;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler{
    visibility: hidden;
}




.link:hover, .link:focus, .link:active{
    opacity: 50%;
}

.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    visibility:hidden;
}





.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.subscribe-for-push{
   
    color: white;
    font-family: 'Roboto';
    padding: 15px 30px;
    display: block;
    float: none;
    margin: 50px auto;
    background-color: #57984C;
}




@media screen and 
(max-width: 790px){

    .logo, .search{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .search {
        margin-top: 20px;
        
    }
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .show {
        display:block;
        }
    .dropbtn {
        visibility:visible;
    }
}

/*End header*/

/*Start middle*/
.products{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #ffffff;
}

.products img{
    width: 60px;
    height: 60px;

}
.products p{
    margin-top: 20px;
}

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}
.vision{
   
    background: url("../img/Uni.png") no-repeat center;
    padding-top: 50px;
    margin-top: 20px;
}

.title_vis p{
    margin-top: 95px;
    margin-bottom: 0px;
    font-size: 64px;
    color: black;
}

.text_vis p{
    font-size: 20px;
    
}

.visimg img {
    width: 570px;
    height: 550px;
}




.activ{
    min-height: 640px;
    background-color: #ededed;
    margin-top: 100px;
}

.title_text2{
    font-size: 64px;
    color: #324950;
    padding-top: 70px;
    font-weight: 700;
}

.colum h2{
    font-size: 24px;
    color: #57984C;
}

.colum .exam{
    font-size: 18px;
    font-weight: 400;
    color: #324950;
}




.colum a{
    color: #57984C;
}

.colum a:hover{
    text-decoration: none;
    color:#57984C;
}



@media (max-width: 990px){
    .vision{
        padding: 20px;
    }
    .Vision, .Mission{
        text-align: center;
    }
    .title_vis p{
        margin-top: 10px;
    }
}

@media (max-width: 560px){
    .visimg img{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
/*End middle*/

/*Start footer*/
footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}

.footer_1 {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footer_2{
    background: #324950;
    color: #B9B9B9;
}

.footer_1 .row {
    margin-top: 10px;
}

.footer_item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer_item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer_link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    font-family: 'RotondaBold';
}


.footer_1 li{
        list-style-type: none;
} 


@media (max-width: 1060px){
    .footer_link {
        margin: 0 5px;
    }
}

@media (max-width: 990px){
    .footer_link{
        margin-bottom: 5px;
    }
    .footer_menu{
        margin-left: -20px;
        display: block;
        text-align: center;
    }
}


/*End footer*/