/*Start header*/


header{
    height: 133;
}

.logo{
    float: left;
    width: 226px;
    height: 113px;
}

.search input, button{
    background: transparent;
    border: none;
}


.search button{
    float: right;
}

.search{
    border-bottom: 1px solid black;
    width: 350px;
    height: 29px;
    float: right;
}

.search input {
    outline:none;
}

.search, .logo{
    justify-content: space-around; 
    display: inline-block;
}


.complex_list{
    display: flex;
}

.complex_list li a {
    text-decoration: none;
    margin: 10px;
    color: #324950;
}

.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}


.title {
    padding: 230px 0 300px 0;
}



.title__text{
    font-family: 'RotondaBold' ;
    text-align: center;
    font-size: 48px;
    color: #735440;
    
}

.line{
    position: absolute;
    width: 350px;
    height: 0px;
    left: 1165px;
    top: 20px;
    border: 1px solid #324950;
}


.menu{
    margin-left: auto;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler{
    visibility: hidden;
}




.link:hover, .link:focus, .link:active{
    opacity: 50%;
}

.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    visibility:hidden;
}





.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}




@media screen and 
(max-width: 790px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .show {
        display:block;
        }
    .dropbtn {
        visibility:visible;
    }
}


/*End header*/




/*Start middle*/
.lemon{
    height: 480px;
    background: url(../img/texture-frames-text-photo-background-lemon-40848.jpg) no-repeat center;
    width: auto;
}

.title_text{
    font-family: 'RotondaBold';
    margin-top: 51px;
    font-size: 44px;
    color: #324950;
}

.title_img{
    margin-top: 40px;
}

.main_text{
    margin-top: 40px;
    font-size: 17px;
    color: #324950;
}

.line2{
    border-left: 4px solid #EB5757;
    padding-left: 26px;
    font-size: 17px;
}

.activ{
    min-height: 450px;
    width: 1152px;
    background-color: #f9fdbc;
    margin: 33px auto 47px auto;
    font-size: 64px;
    color: #324950;
    padding-top: 20px;
    text-align: left;
    font-weight: 700;
}

.colum{
    font-size: 24px;
    color: #324950;

}

.colum .exam{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #324950;
}

hr{
    background-color: #324950
}
.prodTomat {
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 321px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    object-fit: contain;
    padding-top: 30px;
    padding-bottom: 50px;
}

.wh_bg{
    width: 350px;
    height: 69px;
    background-color: white;
    margin-bottom: 30px;
    padding: 9px 0;
    color: #57984C;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.menu{
    margin-left: auto;
}


.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

.lemon h4{
    font-weight: 600;
   
   }
#margin-vertical-20 h4{
    color:#EB5757
}

#margin-vertical-20 h4:hover, #margin-vertical-20 h4:focus, #margin-vertical-20 h4:active{
    opacity: 50%;
}



@media screen and 
(max-width: 790px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
    }
    
    
    .logo {
        margin-bottom: 20px;
    }
    .title{
        padding: 10px;
    }
}

@media (max-width: 590px){
    .logo, .search{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .search {
        margin-top: 20px;
        
    }
}


@media (max-width:767px){
    .inf_tomat, .title__text {
        text-align: center;
    }
    .crosses {
        display: flex;
        justify-content: center;
    }
    .activ{
        padding-top: 55px;
        padding-bottom: 55px;
        width: 100%;
    } 
}

/*End middle*/









/*Start footer*/
footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}

.footer_1 {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footer_2{
    background: #324950;
    color: #B9B9B9;
}

.footer_1 .row {
    margin-top: 10px;
}

.footer_item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer_item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer_link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    font-family: 'RotondaBold';
}


.footer_1 li{
        list-style-type: none;
} 


@media (max-width: 1060px){
    .footer_link {
        margin: 0 5px;
    }
}

@media (max-width: 990px){
    .footer_link{
        margin-bottom: 5px;
    }
    .footer_menu{
        margin-left: -20px;
        display: block;
        text-align: center;
    }
}


/*End footer*/