@font-face {
    font-family: "RotondaBold";
    src: url("../fonts/RotondaBold.svg#RotondaBlod") format("svg"),
         url("../fonts/RotondaBold.ttf") format("truetype"),
         url("../fonts/RotondaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'), 
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    /* font-family: 'RotondaBold';  */
    background-color: #E5E5E5;
}



.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}

