<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="Google">
        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styleUs.css">
        <link rel="stylesheet" href="css/tomatoOne.css">
        <title>TomatoAll</title>
    </head>
<body>

     <!-- Vue JS  -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 

    <header class="header">
        <div class="wrapper">
            <div class="row">
                <div class="logo">
                    <img src="./img/Logo.png" alt="Logo">
                </div>
                <div class="search ml-auto">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><img src="./img/Vector.png" alt=""></button>
                </div>
        
            </div>

            <nav class="navbar">
                <input type="checkbox" id="toggler">
                <label for="toggler"><i class="ri-menu-line"></i></label>
                <div class="menu">
                    <ul class="list">
                        <li class="item">
                            <it><a href="index.html" class="link">Home</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">Company Profile</a></it>
                        </li>
                        <li class="item">
                            <it><a href="Lemon.html" class="link">Products</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">Services</a></it>
                        </li>
                        <li class="item">
                            <it><a href="#" class="link">R & D</a></it>
                        </li>
                        <li class="item">
                            <it><a href="contactUs.html" class="link">Contact</a></it>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    <div class="bar1"> </div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="index.html">Home</a>
                  <a href="#">Company Profile</a>
                  <a href="Lemon.html">Products</a>
                  <a href="#">Services</a>
                  <a href="#">R & D</a>
                  <a href="contactus.html">Contact</a>
                </div>
              </div>

              <script>
                
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                
                
                window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }
                </script>
    </header>

    <section class="arrow">
        <div class="wrapper">
            <div class="return">
                <div class="row">
                    <a href="Lemon.html">
                        <img src="./img/Arrow.png" alt="">
                        Return to all tomatoes
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div id="app">
        <section class="middle">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title_text">
                            <h1>{{product.title}}</h1>
                            <h2>{{product.short_text}}</h2>
                        </div>
                            <div class="xxx">
                                <img src="./img/Union.png" alt="xxx">
                            </div>
                        <div class="row">
                            <img src="./img/fruit.svg" alt="" class="high_img">
                            <b class="high_text">Very high yield and<br> excellent fruits quality!</b>
                        </div>
                        <div class="text_block">
                                <h3>CHARACTERISTICS</h3>
                                <img src="./img/Line2.png" alt=""><br>
                                <b>Resistance</b>
                                <p>HR: ToMV:0-2; Fol: 1,2; Ve/Vd; <br>IR: TYLCV</p>
                        </div>
                        <div class="text_block">
                            <h3>Plant</h3>
                            <img src="./img/Line2.png" alt=""><br>
                            <ul>
                                <li>Strong vigor that provides good leaf coverage.</li>
                                <li>Very high productivity with good fruit setting.</li>
                                <li>Early matured variety.</li>
                            </ul>
                        </div>
                        <div class="text_block">
                            <h3>Fruit</h3>
                            <img src="./img/Line2.png" alt=""><br>
                            <ul>
                                <li>Long shelf life on plant and post harvest.</li>
                                <li>Nice shiny attractive deep red color.</li>
                                <li>Average fruit size: 140 – 160 grams.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="tomatoimg">
                            <img
                                :src="'img/lemon/'+product.image"
                                 class="img-fluid"
                                />
                        </div>

                        <div class="download">
                            
                            <a
                                href="#"
                                @click.prevent="addToCart(product.id)"
                                v-if="!btnVisible"
                            >
                            <img
                                src="img/add-to-cart-button.jpg"
                                alt=""
                                height="100"
                            />
                            <a v-if="btnVisible" href="contactUs.html">
                                <img
                                  src="img/view-cart-button.jpg"
                                  alt=""
                                  height="100"
                                />
                              </a>

                        </div>
                        <div class="text_block">
                            <h3>Cycle</h3>
                            <img src="img/Line2.png" alt=""><br>
                            <ul>
                                <li>Spring</li>
                                <li>Fall</li>
                                <li>Winter</li>
                            </ul>
                        </div>
                        <div class="text_block">
                            <h3>Color</h3>
                            <img src="./img/Line2.png" alt=""><br>
                            <ul>
                                <li>red</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    
    </div>
















    <section class="footer_1">
        <div class="wrapper">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer_menu">
                            <li class="footer_item"> 
                                <a href="#">PROFILE</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">PRODUCTS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer_item">
                                <a href="#">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer_link">
                            <a href="#"><img src="./img/Ico_in.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="./img/Ico_inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="./img/Ico_tube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="./img/Ico_tw.svg" alt="twitter"></a>
                        </li>
                        <li class="footer_link">
                            <a href="#"><img src="./img/Ico_fb.svg" alt="facebook"></a>
                        </li>
                    </div>
                </div>
        </div>
    </section>
<footer class="footer_2">
    <div class="wrapper">
            <div class="col d-flex justify-content-center">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2022
            </div>
    </div>
</footer>

<!--  Main JS File -->
<script src="js/main.js"></script>

</body>
</html>